:root {
   --header-color: #212121;
   --hero-color: #FFFFFF;
   --feature-title-color: #212121;
   --work-title-color: #212121;
   --team-title-color: #212121;
   --btn-btn-color: #212121;
   --project-title-color: #212121;
   --hover-focus-color: #2196F3;
} 
body {
    font-family:'Roboto', sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
margin: 0;
}
ul, ol {
padding-left: 0;
margin: 0;
}
button {
   cursor: pointer;
}
.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}
.logo-text { 
   text-decoration: none;
   font-family: 'Raleway';
   font-style: normal;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC
}
.header-logo { 
   color: #2196F3;
}
.header-log {
   margin-right: 93px;
   color: black;
}
.header-list {
   margin-left: auto;
   list-style: none;
   display: flex;
}
.header-item:not(:last-child) {
    margin-right: 50px;
}
.header .container {
   display: flex;
   align-items: center;
}
.header-link {
   text-decoration: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--header-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--hover-focus-color)
}
.header-mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}
.header-mail:hover,
.header-mail:focus {
    color: var(--hover-focus-color)
}
.header-icon {
   fill: #afb1b8;
}
.header-icon:hover,
.header-icon:focus {
   fill: var(--hover-focus-color)
}
.header-tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 50px;
    color: #757575;
}
.header-tel:hover,
.header-tel:focus {
    color: var(--hover-focus-color)
}
.hero {
   padding-top: 200px;
   padding-bottom: 200px;
   background-color: #2F303A;
   background-image: linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
      url(../images/Img17.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      max-width: 1600px;
      margin: 0 auto;
}
.hero-blok {
   margin-bottom: 30px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-color);
    max-width: 696px;
    margin: 0 auto; 
}
.hero-button {
    border: none;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    margin: 0 auto;
    display: block;
    color: white;
}
.feature {
   padding-top: 94px;
   padding-bottom: 94px;
}
.feature-list {
    display: flex;
    list-style: none;
}
.feature-soc-link {
   display: inline-block;
   content: ' ';
   width: 270px;
   height: 120px;
   background: #F5F4FA;
   border-radius: 4px;
   margin-bottom: 30px;
   border: none;
}
.feature-item:not(:last-child) {
   margin-right: 30px;
}
.feature-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--feature-title-color)
}
.feature-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 270px;
}
.work {
   padding-bottom: 94px;
}
.work-list {
   display: flex;
    list-style: none;
    margin-top: 50px;
}
.work-item:not(:last-child) {
   margin-right: 30px;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--work-title-color)
}
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--team-title-color)
}
.team-list {
    list-style: none;
    display: flex;
    margin-top: 50px;
}
.team-item {
   width: 270px;
   height: 428px;
   background: #FFFFFF;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
    margin-right: 30px;
}
.team-blok {
   padding-top: 30px;
   padding-bottom: 30px;
}
.team-name {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   padding-bottom: 10px;
   color: #212121;
}
.team-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.19;
   text-align: center;
   letter-spacing: 0.03em;
   color: #757575;
   margin-bottom: 16px;
}
.team-soc-list {
   list-style: none;
   display: flex;
   justify-content: center;
}
.team-soc-item + .team-soc-item {
   margin-left: 10px;
}
.team-soc-link {
   width: 44px;
   height: 44px;
   background-color: #FFFFFF;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.team-soc-icon {
fill: #afb1b8
}
.team-soc-link:hover {
   background-color: var(--hover-focus-color);
}
.team-soc-link:hover .team-soc-icon {
   fill: #FFFFFF;
}
.team-soc-link:focus {
   background-color: var(--hover-focus-color);
}
.team-soc-link:focus .team-soc-icon {
   fill: #FFFFFF;
}
.clients {
   padding-top: 94px;
   padding-bottom: 94px;
}
.clients-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.17;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--work-title-color)
}
.clients-list {
   list-style: none;
   display: flex;
   justify-content: center;
}
.clients-item + .clients-item {
   margin-left: 30px;
}
.clients-link {
   width: 170px;
   height: 92px;
   border: 1px solid #AFB1B8;
   margin-top: 50px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.clients-soc-icon {
   fill: #afb1b8
}
.clients-soc-icon:hover {
   fill: var(--hover-focus-color);
}
.footer {
   background-color:#2F303A;
   padding-top: 60px;
   padding-bottom: 60px;
}
.logo {
   margin-bottom: 20px;
}
.footer-logo { 
   color: #2196F3;
}
.footer-log {
   color: white; 
} 
.footer-list {
   list-style: none;
}
.footer-item:not(:last-child) {
   margin-bottom: 9px;
   font-style: normal;
}
.footer-link {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: #FFFFFF;
}
.footer-mail,
.footer-tel  {
   text-decoration: none;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}
.footer-mail {
   padding-bottom: 9px;
}
.footer-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 20px;
}
.footer-soc-list {
   list-style: none;
   display: flex;
   
}
.footer-soc-item + .footer-soc-item {
   margin-left: 10px;
}
.footer-soc-link {
   width: 44px;
   height: 44px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-soc-link:hover {
   background-color: var(--hover-focus-color);
}

.footer-soc-link:hover .team-soc-icon {
   fill: #FFFFFF;
}

.footer-soc-link:focus {
   background-color: var(--hover-focus-color);
}

.footer-soc-link:focus .team-soc-icon {
   fill: #FFFFFF;
}

.btnproject {
   padding-top: 94px;
   padding-bottom: 94px;
}
.btn-list { 
   display: flex;
   list-style: none;
   margin-left: 280px;
} 
.btn-item:not(:last-child) {
   margin-right: 8px;
   margin-bottom: 50px;
}
.btn-btn { 
   border: none;
   background-color: #F5F4FA;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.63;
   text-align: center;
   letter-spacing: 0.03em;
   padding: 6px 22px;
   color: var(--btn-btn-color)
}
.btn-btn:hover,
.btn-btn:focus {
   background-color: var(--hover-focus-color);
   color: #FFFFFF;
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
   0px 1px 2px rgba(0, 0, 0, 0.08),
   0px 2px 2px rgba(0, 0, 0, 0.12);
   border-radius: 4px;
}
.project-list {
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   margin-left: -30px;
   margin-bottom: -30px;
}
.project-item {
   width: calc(100% / 3 - 30px);
   margin-left: 30px;
   margin-bottom: 30px;
   border: 1px solid #EEEEEE
}
.project-item:hover {
   border: 1px solid #EEEEEE;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
   0px 4px 4px rgba(0, 0, 0, 0.06),
   1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-blok {
   padding: 20px 24px;
}
.project-title {
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   padding-bottom: 4px;
   color: var(--project-title-color)
}
.project-text {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.88;
   letter-spacing: 0.03em;
   color: #757575; }